@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
  min-width: 100vw;
  font-family: Poppins, sans-serif;
}

@layer base {
  /* Typography */
  h1,
  h2,
  h3,
  h4 {
    font-weight: theme('fontWeight.bold');
  }

  h1 {
    font-size: theme('fontSize.3xl');
  }

  h2 {
    font-size: theme('fontSize.2xl');
  }

  h3 {
    font-size: theme('fontSize.xl');
  }

  h4 {
    font-size: theme('fontSize.lg');
  }

  p {
    font-weight: theme('fontWeight.normal');
  }

  section {
    padding: theme('padding.5') 0 theme('padding.5') 0;
  }
}

@layer components {
  .error-msg {
    color: theme('colors.red.500');
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
