@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../node_modules/react-date-picker/dist/DatePicker.css';
@import '../node_modules/react-calendar/dist/Calendar.css';



html, body, #root {
    min-height: 100vh;
    min-width: 100vw;
}

.react-date-picker__inputGroup {
    font-size: theme('fontSize.sm');
    color: theme('colors.grey-500');
}

.react-date-picker {
    padding: 0 theme('padding.3') 0 theme('padding.3');
    width: theme('width.2/3');
}

.react-calendar {
    border-radius: theme('borderRadius.lg');
    padding: theme(padding.5);
}

@layer base {
    main {
        flex-grow: 1;
        padding: theme(padding.2) 0 theme(padding.2) 0;
    }

    section {
        padding: theme(padding.3) 0 theme(padding.3) 0;
    }

    h1 {
        font-size: theme(fontSize.3xl);
        font-weight: theme(fontWeight.bold);
    }

    h2 {
        font-size: theme(fontSize.2xl);
        font-weight: theme(fontWeight.semibold);
    }

    h3 {
        font-size: theme(fontSize.xl);
        font-weight: theme(fontWeight.semibold);
    }
}

@layer components {
    .nav-icon {
        width: theme(width.8);
        height: theme(height.8);
        color: theme(colors.white)
    }

    .nav-link {
        color: #fff;
        font-weight: theme(fontWeight.semibold);
        font-size: theme(fontSize.xl);
        display: flex;
        align-items: center;
        gap: theme(gap.2);
        padding: theme(padding.2) 0 theme(padding.2) 0;
    }

    .add-btn, .action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: theme(gap.2);
        border-radius: theme(borderRadius.full);
        padding: theme(padding.2) theme(padding.4) theme(padding.2) theme(padding.4);
        border: 1px solid theme(colors.orange-300);
        color: theme(colors.orange-300);
    }

    .auth-input {
        background-color: theme(colors.grey-300);
        border-radius: theme(borderRadius.md);
        width: theme(width.full);
        padding: theme(padding.3) theme(padding.4) theme(padding.3) theme(padding.4);
        margin: theme(margin.2) 0 theme(margin.2) 0;
        box-shadow: theme(boxShadow.md);
    }

}

@layer utilities {
    .greyout {
        opacity: .5;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
    }

    .nav-link:hover {
        background-color: theme(colors.orange-200);
    }

    .add-btn:hover {
        background-color: theme(colors.orange-300);
        color: theme(colors.white);
    }

    .action-btn:hover {
        background-color: theme(colors.orange-300);
        color: theme(colors.white);
    }

    .add-btn.extend {
        padding: theme(padding.3) theme(padding.8) theme(padding.3) theme(padding.8);
    }

    .auth-input::placeholder {
        color: theme(colors.grey-500);
    }
}